:root {
    --primary-color: #b73235;
    --secondary-color: #323743;
    --bs-primary-rgb: 183, 50, 53;

    --primary-font: "Raleway";
    --secondary-font: "Barlow Semi Condensed";

    --text-color: #343a40;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
}

section {
    padding: 2.5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.sub-title {
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    font-size: 0.875rem;
}
.sub-title.footer {
    font-size: 0.875rem;
}
.title-heading {
    font-size: 3.5rem;
    font-size: 1.5rem;
    line-height: 1.05;
}
.title-heading span {
    color: var(--primary-color);
    display: block;
}

.title-heading.section {
    font-size: 1.5rem;
}
.title-heading.footer {
    font-size: 1.4rem;
}
.title-text {
    line-height: 1.6;
    font-family: var(--secondary-font);
    font-size: 0.875rem;
}
.title-text.footer {
    font-size: 0.875rem;
}
/* ---------------------------- */
/* navbar */
/* ---------------------------- */

.navbar {
    z-index: 999;
    width: 100%;
}

.navbar .navbar-brand {
    max-width: 16rem;
    max-width: 10rem;
}

.navbar .nav-link {
    color: var(--text-color);
}

.btn-primary {
    --bs-btn-bg: #b73235;
    --bs-btn-border-color: #b73235;
    --bs-btn-hover-bg: #db3e40;
    --bs-btn-hover-border-color: #db3e40;
    --bs-btn-active-bg: #db3e40;
    --bs-btn-active-border-color: #db3e40;
    --bs-btn-disabled-bg: #b73235;
    --bs-btn-disabled-border-color: #b73235;
    color: #fff;
    font-weight: 700;
    transition: all 0.5s;
    font-family: var(--secondary-font);
    font-size: 0.7rem;
    letter-spacing: 1px;
}
.btn-secondary {
    --bs-btn-bg: #323743;
    --bs-btn-border-color: #323743;
    --bs-btn-hover-bg: #3b414e;
    --bs-btn-hover-border-color: #3b414e;
    --bs-btn-active-bg: #3b414e;
    --bs-btn-active-border-color: #3b414e;
    --bs-btn-disabled-bg: #323743;
    --bs-btn-disabled-border-color: #323743;
    color: #fff;
    font-weight: 700;
    transition: all 0.5s;
    font-family: var(--secondary-font);
    font-size: 0.7rem;
    letter-spacing: 1px;
}
.navbar .navbar-nav .nav-item .number {
    color: #fff;
    font-size: 0.7rem;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-secondary:hover,
.btn-secondary:focus {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.cart {
    font-size: 1.2rem;
}

.offcanvas.offcanvas-bottom {
    height: 100% !important;
}
.offcanvas input {
    width: 80%;
    border-radius: 100px;
    padding: 2rem;
    font-size: 1.5rem;
    outline: none;
    border: none;
}
.offcanvas button {
    position: absolute;
    right: 5%;
    top: 5%;
    bottom: auto;
    left: auto;
}
.cart-div {
    position: absolute;
    max-width: 300px;
    width: 200px;
    right: 0;
    top: 100%;
}
/* ---------------------------- */
/* slider */
/* ---------------------------- */
.overlay {
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    padding-top: 2rem;
}
.overlay.left {
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.slider-btn .btn {
    letter-spacing: 1px;
    font-size: 0.5rem;
}
.controller button {
    background-color: transparent;
    width: 30px;
    height: 30px;
    text-align: center;
}

.controller {
    bottom: 0;
    right: 5%;
}

/* ---------------------------- */
/* features */
/* ---------------------------- */
.feature-heading h3 {
    color: var(--primary-color);
    font-size: 1.5rem;
    letter-spacing: -0.8px;
    line-height: 1.05;
}

.feature-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 3rem;
    align-items: center;
}

.feature {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    gap: 1rem;
    row-gap: 0.5rem;
}
.feature .icon {
    grid-row: 1 / span 2;
    width: 4rem;
    height: 4rem;
    text-align: center;
    color: #fff;
    display: grid;
    place-items: center;
    font-size: 1.8rem;
    border-radius: 50%;
}
.feature:nth-child(even) .icon {
    background-color: var(--secondary-color);
}
.feature:nth-child(odd) .icon {
    background-color: var(--primary-color);
}

.feature-title {
    font-size: 1.3rem;
    font-weight: bold;
}
.feature-text {
    font-family: var(--secondary-font);
}

/* ---------------------------- */
/* business */
/* ---------------------------- */
.business {
    background-image: url(../images/bgn-team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* ---------------------------- */
/* testimonial */
/* ---------------------------- */
.testimonials {
    background-image: url(../images/bgn-people.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 10%;
}
.testimonials .card {
    background-color: transparent;
}
.testimonials .card-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--primary-color);
}
.tag,
.testimonials .card-text {
    font-family: var(--secondary-font);
}
.testimonial-wrapper {
    margin: 0 -12px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 20rem));
    gap: 2rem;
    place-items: center;
    justify-content: center;
}
.testimonials .card-img-top {
    transition: all 0.5s;
    cursor: pointer;
}
.testimonials .card-img-top:hover {
    transform: rotateY(180deg);
}
/* ---------------------------- */
/* clients */
/* ---------------------------- */
.clients .owl-dots {
    display: none;
}
.clients .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
.clients .owl-nav button {
    position: absolute;
    transform: translateY(-50%);
}
.clients .owl-nav .owl-next {
    right: 0;
}
.clients .owl-nav .owl-prev span {
    font-size: 3rem;
}
.clients .owl-nav .owl-next span {
    font-size: 3rem;
}
/* ---------------------------- */
/* quote */
/* ---------------------------- */
.quote {
    padding: 6.5rem 0;
    background-image: url(../images/bgn-quote.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 10%;
    background-attachment: fixed;
}
/* ---------------------------- */
/* portfolio */
/* ---------------------------- */
.portfolio::before,
.portfolio::after,
.contact::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}
.portfolio::before,
.contact::before {
    width: 20%;
    height: 40%;
    top: 30%;
    left: 0;
    background-image: url(../images/bgn-portfolio-1.png);
    background-position: left 65%;
}
.portfolio::after {
    width: 40%;
    height: 50%;
    top: 50%;
    right: 0;
    transform: translateY(-30%);
    background-image: url(../images/bgn-portfolio-2.png);
    background-position: right 65%;
}

.portfolio .list a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    transition: all 0.5s;
    position: relative;
    font-size: 0.8rem;
}

.portfolio .list a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: all 0.5s;
}

.portfolio .list a:hover {
    color: var(--primary-color);
}
.portfolio .list a:hover::before,
.portfolio .list .active a:before {
    width: 10px;
}

.portfolio-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 22rem));
    gap: 1rem;
    justify-content: center;
}
.p-img {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.2);
    /* height: 22.5rem; */
}
.img-overlay {
    background-image: linear-gradient(
        to top,
        rgba(255, 255, 255, 1),
        rgba(0, 0, 0, 0)
    );
    position: absolute;
    inset: 0;
    transform: translateY(100%);
    transition: all 0.5s;
}
.p-img:hover {
    transform: translateY(-6px);
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.2);
}
.p-img:hover .img-overlay {
    transform: translateY(0);
}
.img-overlay h3 {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: bold;
}
.img-overlay p {
    font-family: var(--secondary-font);
}
/* ---------------------------- */
/* review */
/* ---------------------------- */
.review-text {
    font-family: var(--secondary-font);
    font-size: 1.2rem;
}
.quote-text {
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
}
.quote-text:before {
    content: "\f10e";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    opacity: 0.1;
    position: absolute;
    left: 0px;
    top: -60px;
    font-size: 10rem;
}

.line {
    display: inline-block;
    height: 10px;
    width: 6rem;
    border: 4px solid var(--primary-color);
}
.author h5,
.author p {
    font-size: 0.875rem;
}
/* ---------------------------- */
/* contact us */
/* ---------------------------- */
.map::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../images/img-map-cover.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
}
.map iframe {
    width: 100%;
    height: 600px;
}
.contact-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
}
.contact-type {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    row-gap: 0.5rem;
    grid-template-rows: 35px 1fr;
}
.contact-type i {
    grid-row: 1/3;
    font-size: 2rem;
    color: var(--primary-color);
}

/* ---------------------------- */
/* blog */
/* ---------------------------- */
.blog-box {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 380px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
}
.blog-box--1 {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(255, 255, 225, 0.8) 60%
        ),
        url(../images/blog-01.jpg);
}
.blog-box--2 {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(255, 255, 225, 0.8) 60%
        ),
        url(../images/blog-02.jpg);
}
.blog-box--3 {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(255, 255, 255, 0.8) 40%
        ),
        url(../images/blog-03.jpg);
}
.blog-link {
    font-family: var(--secondary-font);
}
.blog-box h3 {
    font-weight: bold;
    color: var(--primary-color);
}
.blog-box p {
    font-family: var(--secondary-font);
    font-size: 14px;
}
.read-more:link,
.read-more:visited {
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-weight: 600;
    text-transform: capitalize;
    transition: all 0.5s;
    display: inline-block;
}
.read-more:hover,
.read-more:active {
    color: var(--text-color);
}
.blog-date {
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: auto;
    left: auto;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.8rem;
    line-height: 1;
}
.blog-date span {
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: uppercase;
}

/* ---------------------------- */
/* SUBSCRIBE */
/* ---------------------------- */
.subscribe {
    background-image: url(../images/bgn-newsletter.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;
}
.subscribe:after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../images/bgn-newsletter-curve.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}
#email {
    max-width: 380px;
    width: 380px;
    border: none;
    box-shadow: 0 0 0 1px #3b414e5e;
    outline: none;
    border-radius: 30px;
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;
    display: inline-block;
}

/* ---------------------------- */
/* FOOTER */
/* ---------------------------- */
.footer-section {
    background-image: url(../images/bgn-footer.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer-list-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    font-family: var(--secondary-font);
}
.footer-list-item a i {
    color: var(--primary-color);
    transition: all 0.5s;
}
.footer-list-item a:hover i {
    color: var(--text-color);
}
.social-media .list-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #fff;
    transition: all 0.5s;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--primary-color);
    z-index: 1;
}
.social-media .list-item a:before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: #fff;
    transform: scale(0);
    transition: all 0.5s;
    z-index: -1;
}
.social-media .list-item a:hover {
    color: var(--primary-color);
}
.social-media .list-item a:hover::before {
    transform: scale(1);
}
.footer-line {
    width: 100%;
    height: 0;
    border: 2px groove #3b414ebe;
    border-bottom-color: rgb(255, 255, 255);
}
.copy-right {
    font-size: 0.875rem;
}
.footer-nav .list-item a {
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.5s;
}

.footer-nav .list-item a:hover {
    color: #343a407c;
}

/*  shape  */
.shape {
    border-radius: 0% 0% 79% 19% / 57% 27% 72% 20%;
    position: absolute;
    inset: 0;
    background-color: #f1f1f2;
    z-index: -1;
}
/* about-description */
.description {
    padding: 15rem 0 5rem;
}
.description-content {
    font-family: var(--secondary-font);
}
.description .progress {
    height: 4px;
}
.description .progress-bar {
    background-color: var(--primary-color);
}
/* ------------------------------ */
/* sub-slider */
/* ------------------------------ */

@media (max-width: 767px) {
    .team .carousel-inner .carousel-item > div,
    .trust .carousel-inner .carousel-item > div {
        display: none;
    }
    .team .carousel-inner .carousel-item > div:first-child,
    .trust .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.team .carousel-inner .carousel-item.active,
.team .carousel-inner .carousel-item-next,
.team .carousel-inner .carousel-item-prev,
.trust .carousel-inner .carousel-item.active,
.trust .carousel-inner .carousel-item-next,
.trust .carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    .team .carousel-inner .carousel-item-end.active,
    .team .carousel-inner .carousel-item-next,
    .trust .carousel-inner .carousel-item-end.active,
    .trust .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .team .carousel-inner .carousel-item-start.active,
    .team .carousel-inner .carousel-item-prev,
    .trust .carousel-inner .carousel-item-start.active,
    .trust .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.team .carousel-inner .carousel-item-end,
.team .carousel-inner .carousel-item-start,
.trust .carousel-inner .carousel-item-end,
.trust .carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.team .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/* -------------------------------- */
/* about-trust */
/* -------------------------------- */
.trust .card img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
/* -------------------------------- */
/* about-contact */
/* -------------------------------- */
.about-contact .title {
    border-bottom: 6px groove rgb(196, 195, 195);
    padding-bottom: 2rem;
}
.contact-content i {
    font-size: 5rem;
}
.contact-content .contact-text {
    font-family: var(--secondary-font);
}
.about-contact form input:focus,
.about-contact form textarea:focus {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-color: #aaaaaa;
}
/* -------------------------------- */
/* about-map */
/* -------------------------------- */
.map-area {
    border-radius: 0% 0% 75% 25% / 10% 10% 38% 15%;
    overflow: hidden;
}
.map-area iframe {
    width: 100%;
    height: 40rem;
}
/* -------------------------------- */
/* SERVICE */
/* -------------------------------- */
.service {
    padding-top: 13rem;
    background-image: url(../images/service/bg-1.png);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: contain;
}
/* -------------------------------- */
/* SERVICE-PROGRESS */
/* -------------------------------- */
.custom-progress {
    width: 200px;
    height: 200px;
    position: relative;
}
.svg-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: #3b414e;
}
.svg-text {
    font-family: var(--secondary-font);
    font-size: 0.95rem;
}
/* -------------------------------- */
/* SERVICE-PACKAGES */
/* -------------------------------- */
.price span span {
    font-size: 4rem;
    font-weight: bold;
}
.price p {
    font-size: 0.95rem;
    font-family: var(--secondary-font);
}
.plans .list-group-item ul {
    list-style: none;
    padding: 0;
}
.plans .list-group-item > i {
    font-size: 4rem;
}
/* -------------------------------- */
/* PORTFOLIO-PAGE */
/* -------------------------------- */
.navigation {
    padding-top: 14rem;
    background-color: #f3f3f3;
}
.breadcrumb {
    font-family: var(--secondary-font);
}
.portfolio-link a:link,
.portfolio-link a:focus,
.portfolio-cards .card-link .social-icon a {
    text-decoration: none;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    margin: 0 0.5rem;
    transition: all 0.5s;
}
.portfolio-link a:hover,
.portfolio-link a:active {
    opacity: 0.5;
}
.portfolio-cards .card-link .social-icon a {
    font-size: 2rem;
}
.portfolio-cards iframe {
    height: 80vh;
}
